*   {
    font-family: Helvetica;
    font-size: 22px;
    color:  seashell;
    background-color: black;
    opacity: 0.9;
}

p   {
    text-align: center;
}

body    {
    margin: 0px;
}

header  {
    display: flex;
    position:   fixed;
    padding: 9.5px 10px;
    border-bottom: 1px solid seashell;
    width: 100%;
}

#logo_header    {
    height: 50px;
}

.header_text    {
    margin: 10px;
    float: right;
}