*   {
    font-family: Helvetica;
    color:  seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    
}

a,
p   {
    font-size: 22px;
    text-decoration: underline;
}

body    {
    margin: 0px;
}

header  {
    display: block;
    position:   fixed;
    padding: 9.5px 10px;
    border-bottom: 1px solid seashell;
    width: 100%;
    background-color:black;
    z-index: 1;
}

#logo_header    {
    height: 50px;
    float: left;
}

#header_text    {
    margin: 10px 0px 10px 10px;
    padding-right: 10px;
    float: right;
}

#header_text a    {
    margin: 10px;
}

#mission_background {
    display: flex;
    position: relative;
    background-image: url("images/img-mission-background.jpg");
    background-color: transparent;
    top: 69px;
    height: 700px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#mission    {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

#mission h2 {
    margin-bottom: 0px;
}

#gallery-title  {
    display: block;
    position:   relative;
    width: 1000px;
    top: 69px;
    background-color: transparent;
    text-align: center;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
}

#gallery {
    display: block;
    position:   relative;
    width: 1000px;
    top: 69px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

.img    {
    display: inline-block;
}

.img img  {
    display: flex;
    height: 200px;
    width: 300px;
    margin: 10px;
}

.img h4{
    margin: 0px;
}

#locations  {
    margin-top: 169px;
    width: 1200px;
    height: 500px;
    background-color: transparent;
    background-image: url("images/img-locations-background.jpg");
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0px 20px 0px;
    margin-bottom: 50px;
}

#locations h2   {
    display: block;
    width: 100%;
    background-color: transparent;
    margin-bottom: 0px;
}

.square {
    display: inline-block;
    position: relative;
    line-height: 40px;
    width: 300px;
    height: 300px;
    opacity: 1;
    margin: 15px 20px 20px 20px;
    /*flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: auto;*/
}

footer  {
    height: 200px;
    margin: 20px 20px 0px 20px;
}

#copyright  {
    text-align: left;
}